<% if flash[:notice] %>
  <div style="color: red">
  	<% flash[:notice].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
<% end %>
<% if @user == nil then %>
	<%= form_tag :controller=>"users", :action=>"login" do %>
		<%= label_tag "name" %>
		<%= text_field_tag :name %>
		<%= label_tag "password" %>
		<%= password_field_tag :password %>
		<%= submit_tag "login" %>
	<% end %>
<% else %>
	<b>Welcome:</b>
	<%= @user.name %>
	<%= link_to "logout", :controller => "users", :action => "logout"%>
<% end %>
<h1>Listing cagos</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cagos.each do |cago| %>
  <tr>
    <td><%= cago.name %></td>
    <td><%= cago.status.name %></td>
    <td><%= link_to 'Show', cago %></td>
    <td><%= link_to 'Edit', edit_cago_path(cago) %></td>
    <td><%= link_to 'Destroy', cago, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cago', new_cago_path %>
<%= link_to 'Users list', users_path %>
<%= link_to 'Competences list', competences_path %>
<%= link_to 'Statuses list', statuses_path %>
