<h1>Listing cagos</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cagos.each do |cago| %>
  <tr>
    <td><%= cago.name %></td>
    <td><%= cago.status.name %></td>
    <td><%= link_to 'Show', cago %></td>
    <td><%= link_to 'Edit', edit_cago_path(cago) %></td>
    <td><%= link_to 'Destroy', cago, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cago', new_cago_path %>
