<%= form_for(@competence) do |f| %>
  <% if @competence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competence.errors.count, "error") %> prohibited this competence from being saved:</h2>

      <ul>
      <% @competence.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <% if @competence.id != 1 && @competence.id != 2 %>
  <div class="field">
    <%= f.label :ostatus_id %><br />
    <%= f.select :ostatus_id, options_for_select(@status_array) %>
  </div>
  <div class="field">
    <%= f.label :nstatus_id %><br />
    <%= f.select :nstatus_id, options_for_select(@status_array) %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
