<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @competence.name %>
</p>

<p>
  <b>Ostatus:</b>
  <%= @competence.ostatus.name %>
</p>

<p>
  <b>Nstatus:</b>
  <%= @competence.nstatus.name %>
</p>


<%= link_to 'Edit', edit_competence_path(@competence) %> |
<%= link_to 'Back', competences_path %>
